@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title for Airline Reservation System.</h2>

<div class="row">
    <div class="col-md-6">
        <h3><b>What is a Flight Reservation?</b></h3>
        <p style="font-family:Arial, sans-serif; color:#5a5252; font-size:21px;">
            Different from an actual Flight Ticket, a Flight Reservation for Schengen Visa or a Booked
            Flight Ticket is, in fact, a document showing that you have a reserved seat for flying on
            a specific date, in a particular destination of the Schengen Area, with a specific airline
            company. Usually, the reservation or booking is valid only for a week, so be careful after
            that! This as the company might cancel your reservation if you do not buy the flight ticket
            until then – risking to lose money you’ve spent on the reservation.
        </p>
    </div>
    <div class="col-md-6">
        <h3><b>How can I get a Confirmed Flight Reservation?</b></h3>
        <p style="font-family:Arial, sans-serif; color:#5a5252; font-size:21px;">
            You can buy a Confirmation of a Flight Reservation directly by the airline company, or through
            online travel agents also known as online search travel engines. These travel agents,
            enjoy a lot of information about different airline companies and online market in general.
            Thus, they can propose you great and cheap deals by usually charging you 10% of the
            fixed ticket price. This way you will cut the risk of, from getting a real Airline
            ticket bought before knowing if you will obtain your Schengen Visa.
        </p>
    </div>

</div>






